.vscode/

EDS-BWT/
rapidnj 
#probabilmente va bene tenerci rapidnj, ma valutare

covid/

compute_gda
fasta_bv_concat
compute_distance_gda_run
compute_distance_bwt_run
compute_distance

preceding_dollars_finder_new.cpp

test/edsarticolo.bitvector
test/edsarticolo.empty.info
test/edsarticolo.fasta
test/test.bitvector
test/test.empty.info
test/test.fasta
test/test2.bitvector
test/test2.empty.info
test/test2.fasta
test/outputphygentree.txt

risultati/

.gitignore