.vscode/

EDS-BWT/
rapidnj 
#probabilmente va bene tenerci rapidnj, ma valutare

compute_gda
fasta_bv_concat
compute_distance_bwt

test/edsarticolo.bitvector
test/edsarticolo.empty.info
test/edsarticolo.fasta
test/test.bitvector
test/test.empty.info
test/test.fasta
test/test2.bitvector
test/test2.empty.info
test/test2.fasta
test/outputphygentree.txt

conc_file_gda.bin
conc_file.4.da
conc_file.bitvector
conc_file.bitvector.bin
conc_file.bwt
eds_number.aux
distance_matrix.phy